<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SoftwarePartNumbers" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
  </startup>
  <appSettings>
    <add key="FORCE_UPDATE_FILE" value="\files" />
    <add key="VAULT_PATH" value="\\pandora\vault" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />    
  </appSettings>
  <SoftwarePartNumbers>
    <!-- To add new software to the program: Add a new line below. Key = assembly p/n, Value = software p/n.  If multiple software, separate with a semicolon (;)-->
    <add key="231-60295-60" value="240-91452-03;240-94452-99"/>
    <add key="231-60295-70" value="240-91452-02"/>
    <add key="231-60310-01" value="240-91480-01"/>
    <add key="231-60310-31" value="240-91480-31"/>
    <add key="231-60308-01" value="240-91477-01"/>
  </SoftwarePartNumbers>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>