<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <add key ="CALIBRATION_FILE" value="\files\FastFsUpdate.tar.gz"></add>
        <add key ="FORCE_UPDATE_FILE" value="\files\force_update.txt"></add>
        <add key ="VAULT_PATH" value="\\pandora\vault\Released_Part_Information\240-XXXXX-XX_SOFTWARE\240-9XXXX-XX\240-91XXX-XX"></add>
    </appSettings>
</configuration>